<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>Reset Password</title>
	</head>
	<body>
		<h1>Reset Password</h1>
		<form th:object="${formData}" th:action="@{/reset-password}" method="post">
			<div>
				<label for="username" th:text="#{form.username}">Username</label>
				<input type="text" id="username" 
					th:field="*{username}" th:classappend="${#fields.hasErrors('username') ? 'is-invalid' : ''}">
				<div id="validationUsername" class="invalid-feedback" 
					th:if="${#fields.hasErrors('username')}" th:utext="${#strings.listJoin(#fields.errors('username'), '&lt;br&gt;')}">
					Sample Error
				</div>
			</div>	
			<input type="submit" value="Reset Password" />
		</form>
	</body>
</html>